* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: inline-block;
}

.button {
    padding: 1em;
    background: grey;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0.25em;
}

.flex-coloumn {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.left {
    float: left;
}

.right {
    float: right;
}


/*Mobile*/

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    width: 100%;
    float: none;
    padding: 15px;
}

.header {
    text-align: center;
    margin-top: 0.5em;
}

@media(min-width: 768px) {
    /*Desktop*/
    .container {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .card {
        margin: 0.5em 0;
        padding: 1em;
    }
}
