.calender ul {
    list-style-type: none;
}

.calender .month {
    padding: 70px 25px;
    width: 100%;
    background: #444;
}

.calender .month ul {
    margin: 0;
    padding: 0;
}

.calender .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.calender .month .prev {
    float: left;
    padding-top: 10px;
}

.calender .month .next {
    float: right;
    padding-top: 10px;
}

.calender .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.calender .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.calender .days {
    padding: 10px 0;
    background: #fff;
    margin: 0;
    text-align: left;
}

.calender .days li {
    list-style-type: none;
    display: inline-block;
    width: 14.28%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}


/* Add media queries for smaller screens */

@media screen and (max-width:720px) {
    .calender .weekdays li, .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .calender .weekdays li, .days li {
        width: 12.5%;
    }
    .calender .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {
    .calender .weekdays li, .days li {
        width: 12.2%;
    }
}

.calender .blank {
    border: 3px solid #fff;
}

.calender .fixture {
    background-color: #FFFF33;
    border: 3px solid #FFFF33;
}

.calender .selected-fixture {
    background-color: #00FF00;
    border: 3px solid #00FF00;
}

.calender .unavailable-fixture {
    background-color: #FF1A1A;
    border: 3px solid #FF1A1A;
}

.calender .past-fixture {
    background-color: #B3B3B3;
    border: 3px solid #B3B3B3;
}

.calender .active {
    border: 3px solid #3399FF;
}

.personal-area-map {
    display: none;
}

.key h1 {
    text-align: center;
}

.key div {
    display: block;
    width: 100%;
    font-weight: bolder;
}

.key p {
    padding: 1em;
}

.key .today {
    background-color: #3399FF;
}

.key .fixture {
    background-color: #FFFF33;
}

.key .fixture-involved {
    background-color: #00FF00;
}

.key .fixture-unavailable {
    background-color: #FF1A1A;
}

.key .fixture-past {
    background-color: #B3B3B3;
}

.toggled {
    border: 3px black solid !important;
}

.card-form label {
    float: left;
    font-weight: bolder;
}

.fixture-card {
    position: relative;
}

.fixture-card .is-available {
    color: #0F0;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.fixture-card .is-not-available {
    color: #FF1A1A;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.card-form input[type="text"], input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 0.25em 0;
    display: inline-block;
    border: 1px solid #ccc;
}

@media screen and (min-width: 768px) {
    .key div {
        display: flex;
        flex-direction: row;
    }
}


}

}
